{
	"coreName": "quickerNES",
	"systemId": "NES",
	"romFile": "rom",
	"deterministic": true,
	"memoryLayoutMiB": [ 64, 64, 16, 64, 64 ],
	"video": {
		"width": 256,
		"height": 240,
		"virtualWidth": 293,
		"virtualHeight": 240,
		"vsyncNumerator": 39375000,
		"vsyncDenominator": 655171,
		"getBgra": "GetVideoBgra"
	},
	"audio": {
		"samplesPerFrame": 735,
		"channels": 1,
		"get": "GetAudio"
	},
	"input": {
		"name": "NES Controller",
		"buttons": [ "P1 A", "P1 B", "P1 Select", "P1 Start", "P1 Up", "P1 Down", "P1 Left", "P1 Right" ]
	},
	"lag": {
		"inputWasRead": "InputWasRead"
	},
	"extensions": {
		".nes": "NES"
	},
	"settings": {}
}
